name: Deploy Newgate AI to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@vv0.1.10
        with:
          host: ${{ secrets.HOST_IP }}
          username: ${{ secrets.HOST_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e

            # 1. Navigate to Project Folder
            cd /home/ubuntu/newgate-ai

            # 2. Pull Latest Code
            git fetch --all
            git reset --hard origin/main

            # 3. Dynamic .env Creation
            echo "HOST_IP=${{ secrets.HOST_IP }}" >> backend/.env

            # 4. Stop & Remove Old Container
            docker stop newgate || true
            docker rm newgate || true

            docker build --build-arg VITE_GOOGLE_CLIENT_ID="${{ secrets.VITE_GOOGLE_CLIENT_ID }}" --build-arg VITE_API_URL=${{ secrets.VITE_API_URL }} -t newgate:latest .

            # 6. Run Container
            # We map Port 80 (External) to 8000 (Internal)
            # We pass the backend/.env file we just created
            docker run -d -p 8000:8000 --env-file backend/.env --restart unless-stopped --name newgate newgate:latest 

            # 7. Cleanup Space
            docker image prune -f
